# Ignore everything
*
!.gitignore

# Track these
!CLAUDE.md
!LICENSE
!README.md
!agents/
!agents/**
!plans/
!plans/**
!rules/
!rules/**
!settings.json
!skills/
!skills/**
!skills-disabled/
!skills-disabled/**
