# Ignore everything
*
!.gitignore

# Track these
!ARCHITECTURE.md
!CLAUDE.md
!LICENSE
!README.md
!agents/
!agents/**
!hooks/
!hooks/**
!rules/
!rules/**
!settings.json
!skills/
!skills/**
!skills-disabled/
!skills-disabled/**
