# Ignore everything
*
!.gitignore

# Track these
!CLAUDE.md
!LICENSE
!README.md
!settings.json
!agents/
!agents/**
!docs/
!docs/**
!hooks/
!hooks/**
!rules/
!rules/**
!skills/
!skills/**
!statusline/
!statusline/**
